/*---------
gif menu
slider css taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp
---------*/

/*
used in javascript
naming convention is "gifmenu" + "_" + thing
"gifmenu" is the id of GIFMenu object
*/

.gifmenu_option {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 60%;
	height: 20%;
	background-color: #222;
	color: white;
}

.gifmenu_optionContainer {
	padding: 0px 10px;
	color: white;
}

.gifmenu_inputContainer {
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	align-items: center;
}

.gifmenu_value {
	width: 20%;
}

/* not used in javascript */

.gifmenu_slider {
	-webkit-appearance: none;
	width: 50%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.gifmenu_slider:hover {
	opacity: 1;
}

.gifmenu_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #3F3F3F;
	cursor: pointer;
}

.gifmenu_slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #3F3F3F;
	cursor: pointer;
}