html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/*---------
sidebar
---------*/

#sidebar {
	width: 25%;
	height: 100vh;
	float: left;
 	flex-direction: column;
	background: #a2a2a2;
	display: flex;
}

#tool_wrapper {
	height: 15%;
	width: 85%;
	background: #fff;
	margin: auto;
}

#color_history_wrapper {
	height: 13%;
	width: 85%;
	background: #fff;
	margin: auto;
}

#color_picker_wrapper {
	height: 50%;
	width: calc(85% - 10px);
	background: #fff;
	margin: auto;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

#color_text_options {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

#color_text {
	/* originally height:15% but in order to vertical align center a fixed height is required */
	width: 90%;
	padding: 0px 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#color_wrapper {
	height: 15%;
	width: 100%;
	display: flex;
    align-items: center;
}

#color {
	height: 80%;
	width: 75%;
	margin: auto;
}

#color_picker {
	height: 50%;
	width: 100%;
	background: #fff;
	display: flex;
    align-items: center;
}

/*---------
frame area
---------*/

#frameArea {
	height: 100vh;
	width: 15%;
	background: #000;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* used in frame.js updateHTML() */
.frame {
	background: #fff;
	position: relative;
	text-align: center;
}

.frame::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.frame > img {
    display: inline-block;
    vertical-align: middle;
}

.frameSelected {
	-webkit-box-shadow:inset 0px 0px 0px 3px #f00;
    -moz-box-shadow:inset 0px 0px 0px 3px #f00;
    box-shadow:inset 0px 0px 0px 3px #f00;}


/*---------
menu
---------*/

#menu {
	height: 8%;
	width: 100%;
	background: #333;
}

.dropbutton {
	height: 8vh;
	line-height: 8vh;
	padding: 0px 15px;
	color: white;
}

.dropdown {
	height: 100%;
	text-align: center;
	display: inline-block;
}

.dropcontent {
	display: none;
	position: absolute;
	background: #fff;
	z-index: 300;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropcontent div {
	padding: 15px;
	cursor: pointer;
}

.dropdown:hover .dropbutton {
	background: #f1f1f1;
	color: black;
}

.dropdown:hover .dropcontent {
	display: block;
}

.dropcontent div:hover {
	background: #ddd;
}

/*---------
workingArea / canvas
---------*/

canvas:hover {
	cursor: crosshair;
}

#color_body {
	background: #000;
	margin: auto;
}

#color_slider {
	margin: auto;
}

#workingArea {
	width: 60%;
	height: 100vh;
	float: left;	
}

#mainArea {
	height: 92%;
	background: #505050;
	display: flex;
    align-items: center;
}

/*---------
gif menu
slider css taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp
---------*/

.gifmenu_option {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 60%;
	height: 20%;
	background-color: #222;
	color: white;
}

.gifmenu_optionContainer {
	padding: 0px 10px;
	color: white;
}

.gifmenu_inputContainer {
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	align-items: center;
}

.gifmenu_value {
	width: 20%;
}

.gifmenu_slider {
	-webkit-appearance: none;
	width: 50%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.gifmenu_slider:hover {
	opacity: 1;
}

.gifmenu_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #3F3F3F;
	cursor: pointer;
}

.gifmenu_slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #3F3F3F;
	cursor: pointer;
}