html, body {
	padding: 0;
	margin: 0;
}

#sidebar {
	width: 25%;
	height: 100vh;
	float: left;
	background: #a2a2a2;
	display: flex;
    align-items: center;
}

#color_picker_wrapper {
	height: 280px;
	width: 300px;
	background: #fff;
	margin: auto;
}

#color_wrapper {
	height: 80px;
	width: 300px;
	display: flex;
    align-items: center;
}

#color {
	height: 40px;
	width: 200px;
	background: #000;
	margin: auto;
}

#color_picker {
	height: 200px;
	width: 300px;
	background: #fff;
	margin: auto;
	display: flex;
    align-items: center;
}

canvas:hover {
	cursor: crosshair;
}

#color_body {
	background: #000;
	margin: auto;
}

#color_slider {
	margin: auto;
}

#mainArea {
	width: 75%;
	height: 100vh;
	float: left;
	background: #505050;
	display: flex;
    align-items: center;
}